@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), sans-serif;
  --animate-scroll: scroll 20s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.testimonial-card-div::-webkit-scrollbar {
  display: none;
}

.testimonial-details::-webkit-scrollbar {
  display: none;
}
