*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  position: fixed;
  overflow: hidden;
  z-index: 10;
}

.container{
  position: sticky;
  height: 60px;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  font-family: var(--font-poppins), sans-serif;
}

.container h1{
  font-size: 1.5em;
  font-weight: 
}

.ctaButtons{
  display: flex;
  gap:50px;
  list-style-type: none;
}

a{
  text-decoration: none;
}
  
.hero {
  position: relative;
  width: 100%; /* Optional: controls how tall your hero section is */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heroImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info {
  position: absolute;
  z-index: 2;
  margin: 10rem 50% 50% 10rem;
}

.info h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: var(--font-poppins), sans-serif;
}

.info p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.info button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: #ff4d00;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}



.brand-logos {
  overflow: hidden;
  background: black;
  height: 6rem;
  display: flex;
  align-items: center;
}

.logos-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.logo-set {
  display: flex;
  gap: 5rem; /* adjust spacing here */
  flex-shrink: 0; /* keeps logos from shrinking */
}

.logo-set img {
  height: 3rem;
  filter: brightness(0) invert(1);
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* exactly one logo-set width */
}


/* small-screen tweaks 
@media (max-width: 600px) {
  .brand-logos { height: 5rem; }
  .logos-slide img { height: 2.5rem; margin: 0 0.8rem; }
}

*/
.vehicle-details{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.card-style{
  height: 30rem;
  width: 20rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
}

.card-style img{
  border-radius: 1rem;
  width: 100%;
  height: 50%;
}

.card-details{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 1rem;
}

.card-cta{
  display: flex;
  justify-content: start;
  gap: 1rem;
}

.card-cta button{
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  color: #ffff;
  background-color: green;
}
